# ===============================
# Android / Gradle
# ===============================
.gradle/
build/
**/build/
local.properties

# ===============================
# Android Studio
# ===============================
.idea/
*.iml
*.ipr
*.iws
captures/

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Logs
# ===============================
*.log

# ===============================
# APK / AAB
# ===============================
*.apk
*.aab

# ===============================
# Generated folders
# ===============================
.externalNativeBuild/
.cxx/
out/

# ===============================
# Firebase / secrets safety
# ===============================
google-services.json
*.keystore
*.jks

# ===============================
# Kotlin / Java temp
# ===============================
*.class
*.dex

# ===============================
# Gradle wrapper logs
# ===============================
gradle-app.setting
